@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --primary-color:#003699;
    --dark-color:#333333;
    --light-color:#f4f4f4;
    --lose-color:#dc3545;
    --win-color:#28a745;
    --modal-duration: 1s;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: cornsilk;
    color: #333;
}
.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}
.restart-btn{
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    outline: none;
    border: 1px solid darkred;
}
.restart-btn:hover{
    background: var(--primary-color);
    color: #fff;
}
.header {
    text-align: center;
    margin: 1rem 0;
}
.header h1{
    margin-bottom: 1rem;
}
.score{
    display: grid;
    margin-top: 9px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    color: #fff;
}
.score p:first-child{
    background: var(--primary-color);
}
.score{
    background: var(--dark-color);
}
.choices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
}
.choice{
    cursor: pointer;
}
.text-win{
    color: var(--win-color);
}
.text-lose{
    color: var(--lose-color);
}
.choice:hover{
    color: var(--primary-color);
}
@media(max-width:500px){
    .choice{
        font-size: 100px;
    }
}
@media(max-width:700px){
    .choice{
        font-size: 130px;
    }
}